$app-background: #0c1317;
$app-background-deeper: #0a1014;
$header: #202c33;
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
html {
    background-color: transparent !important;
    font-size: none !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: auto !important;
    min-width: 100% !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    height: fit-content !important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    html {
    background-color: red !important;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
    body {
        background-image: linear-gradient(180deg, $app-background, $app-background-deeper);
        padding: 20px;
        header {
            display: flex;
            background-color: $header;
            height: 5vh;
            .headLeft {
                width: 400px;
                border-right: 1px solid rgba(128, 128, 128, 0.168);
                height: 100%;
            }
            .headRight{
                width: 100%;
                .personName{
                    display: flex;
                    color: white;
                    align-items: center;
                    height: 100%;
                    padding: 0px 30px;
                }
            }
        }
        main {
            display: flex;
            height: 90vh;
            #right{
               
                position: relative;
                width: 100%;
                .allMessage{
                    background-color: #000538;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                   justify-content: end;
                   padding: 70px  50px;
                    .showMessageR{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: end;
                        color: white;
                       
                        p{
                            background-color: #7d7d7d;
                           padding: 10px 20px;
                           border-radius: 6px;
                        }
                    }
                    .showMessageL{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        color: white;
                        p{
                            background-color: #7d7d7d;
                           padding: 10px 20px;
                           border-radius: 6px;
                        }
                    }
                }
                
                form{
                    display: flex;
                    align-items: center;
                    position: absolute;
                    justify-content: center;
                    bottom: 0;
                    padding: 10px;
                    background-color: $header;
                    width: 100%;
                    gap: 20px;
                    .text{
                        width: 85%;
                        border-radius: 4px;
                        background-color: #384b55;
                        padding: 8px;
                        border: none;
                        color: white;
                    }
                    .file.is-boxed .file-cta{
                        color: white;
                        border: none !important;
                        border-radius: 4px !important;
                        background-color: #384b55 !important;
                        padding: 4px 9px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .file-icon{
                            margin: 0px;
                        }
                    }
                    button{
                        background-color: #384b55;
                        padding: 8px;
                        border: none;
                        color: white;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                }
            }
            #left {
                width: 400px;
                border-right: 1px solid rgba(128, 128, 128, 0.168);
               
                background-color: #0a0e10;
                overflow-y: scroll;
                
                &::-webkit-scrollbar{
                    background-color: #202c33;
                    width: 3px;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: #7d7d7d;
                    width: 5px;
                    
                }
               /*  ::-webkit-scrollbar-corner{
                    background-color: #202c33;
                    width: 5px;
                }
                ::-webkit-scrollbar-track{
                    background-color: #202c33;
                    width: 5px;
                }
                ::-webkit-scrollbar-track-piece{
                    background-color: #202c33;
                    width: 5px;
                } */
                .persons {
                    display: flex;
                    align-items: center;
                    color: white;
                    padding: 5px;
                    gap: 15px;
                    .textPers{
                        display: flex;
                       align-items: center;
                       justify-content: space-between;
                       padding-right: 10px;
                        border-bottom: 1px solid rgba(128, 128, 128, 0.168);
                        height: 60px;
                        width: 100%;
                        .textPersDate{
                            font-size: 13px;
                            color: rgb(132, 131, 131);
                        }
                        .textPersLeft{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 3px;
                            p{
                                font-size: 14px;
                                color: rgb(132, 131, 131);
                            }
                            
                        }
                    }
                    .imgPers {
                        width: 60px;
                        height: 50px;
                        border-radius: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 100%;
                        }
                    }
                }
            }
        }
    }
}
